<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style src="index.css"></style>
</head>
<body>
    <section id="main">
        <div class="container">
            
            <h3>요청</h3>
            <input type="textarea" name="input_text" class="input-text">
            <button type="button" class="button">click!</button>
        
            <h3>응답</h3>
            <p class="response-wrapper">{{data}}</p>
        </div>
    </section>
    <script type = "text/javascript"
    src = "{{ url_for('static', filename = 'index.js') }}" ></script>
</body>
</html>